

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


    @import url('https://fonts.cdnfonts.com/css/miama');

   
                                                



#baground{
    height: 100%;
    width: 100%;
    background-color: rgba(17, 17, 17, 1);
}

.section-1{
    height: 715px;
    width: 100%;
    background-color: rgba(17, 17, 17, 1);
    margin: 0 auto;

}





.section-1-content-1{
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 52px;

}
 #nav-title{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-family:"Inter";
    font-style: italic;
    font-weight: 800;
    line-height: 43.2px;
    margin: 57px auto;
    align-items: center;
    
}

#shape{
    font-family: "Miama";
    font-style: italic;
}
.nav-links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-decoration: none;
    width: 465px;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
    border-radius: 39px;
    align-items: center;
   margin-bottom: 0px;
  
    
}

.hamberger{
    width: 24px;
    height: 24px;
    display: none;
}

.hamberger-icons{
    height: 0px;
    width:18px ;
    margin-bottom: 3px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 25%;
}
    

#home{
    text-decoration: none;
    
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-family:"Inter";
    font-size: 1.125rem;
    margin-right: 47px;
    width: 92px;
    height: 38px;
   background-color:  rgba(230, 83, 60, 1);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
  align-items: center;
  text-align: center;
  justify-content: center;

}
#service{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
   
    font-family:"Inter";
    font-weight: 400;
    font-size: 1.125rem;
    margin-right: 47px;
    width: 52px;
    height: 22px;

}
#about{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    
    font-weight: 400;
    font-family:"Inter";
    font-size: 1.125rem;
    margin-right: 47px;
    width: 52px;
    height: 22px;
}
#contact{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    
    font-weight: 400;
    font-family:"Inter";
    font-size: 1.125rem;
    margin-right: 47px;
    width: 52px;
    height: 22px;
}

.section-1-content-2{
    display: flex;
    max-width: 1060px;
    margin: 0px auto;
    margin-top: 0px;
    flex-direction: row;
}



.text{
    height: 440px;
    width: 520px;
    margin: 0px;
}
.text-title{
    font-size: 4.88rem;
    font-family: "Inter";
    font-weight: 900;
    line-height: 93px;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
}
#shape{

}
.text-description{
    color:rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
    line-height: 24px;
}
#btn-join{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    gap: 10px;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Inter";
    line-height: 22px;
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
}

#btn-download{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    gap: 10px;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Inter";
    line-height: 22px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(17, 17, 17, 1);
    color: rgba(255, 255, 255, 1);
    ;
}
.image{
    height:580px;
    width: 349px;
    margin-top: -32px;
    margin-left: 167px;
  
}
#red-color{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
    margin: 28px 22px;
    margin-right: 12px;
    
}
#three-fifty{
    height: 96px;
    width: 206px;
    background-color:rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -159px;
    margin-left: -133px;
}

#five-fifty{
    height: 98px;
    width: 193px;
    background-color:rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-top: -455px;
    margin-right: -74px;
}
#three-five{
    display: flex;
    justify-content: space-between;
   
}
.three-fifty-content{
    /* height: 56px;
    width: 108px; */
    margin-top: 20px;
    margin-bottom: 20px;

}
#three-fifty-title{
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 900;
    line-height: 12px;
    color: rgba(250, 250, 249, 1);
    margin-bottom: 8px;
    margin-top: 20px;

}
    #three-fifty-text{
        height: 24px;
        width: 108px;
        font-size: 1rem;
        font-family: "Inter";
        font-weight: 400;
        line-height: 24px;
        color: rgba(239, 237, 232, 0.65);
        margin-top: 15px;
        margin-right: 23px;
    }
#five-fifty-title{
    height: 40px;
    width: 116px;
    font-size:2.5rem ;
    font-family: "Inter";
    font-weight:900 ;
    line-height:40px ;
    color:rgba(255, 255, 255, 1);
    margin-top:17px ;
    margin-bottom: 5px;
    margin-left: 24px;
}
#five-fifty-text{
    height: 20px;
    width: 146px;
    font-size: 0.82rem;
    font-family: "Inter";
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 24px;
    margin-bottom: 16px;
    margin-top: 5px;
}

/* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 */


.habits-section{
    height: 452px;
    width: 1044px;
    margin: 100px auto;
   
}
.habits-text{
    height: 120px;
    width: 671px;
    margin: 0 auto;
    margin-bottom: 58px;
}
.habits-title{
height: 58px;
width: 476px;
color: rgba(255, 255, 255, 1);
font-size:3rem;
font-weight: 900;
font-family: "Inter";
line-height: 57.6px;
align-items: center;
margin:0 97.5px;
}
.habits-description{
    height: 48px;
    width: 671px;
    color: rgba(255, 255, 255, 0.5);
    font-size:0.88rem;
    font-weight: 400;
    font-family: "Inter";
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-top: 14px;
    
}
.habits-card{
    display: flex;
    flex-direction: row;
   width: 231px;
   height: 274px;
  justify-items: center;
  gap: 30px;
  align-items: center;
   
}

.card-content{
height: 274px;
width: 1044px;


}
.card-content img{
height: 180px;
width: 180px;
border-radius: 100px;
color: rgba(255, 255, 255, 1);
border: 4px solid rgba(255, 255, 255, 0.1);
margin-left: 25.5px;
margin-right: 25.5px;

}
.card-title{
height: 22px;
/* width: 72px; */
font-size:1.125rem ;
font-weight:600 ;
font-family:"Inter";
line-height: 21.6px;
color: rgba(255, 255, 255, 1);
text-align: center;
margin-top: 15px;
margin-bottom: 3px;
}
.card-description{
height: 36px;
/* width: 231px; */
font-size:0.875rem ;
font-weight:400 ;
font-family:"Inter";
line-height: 18px;
color: rgba(255, 255, 255, 0.5);
align-items: center;
text-align: center;
margin-top: 6px;

}




/* Media Queary *//* Media Queary *//* Media Queary *//* Media Queary *//* Media Queary */

@media screen and (max-width:576px) {
    .nav-links{
        display:none;
    }
    .hamberger{
        width: 24px;
        height: 24px;
        display:flex;
        flex-direction: column;
    }

    .section-1-content-1{
        height: 43px;
        width: 353px;
    }
    .section-1-content-2{
        display: flex;
        flex-direction: column;
    }
    .text{
        height: 353px;
        width: 353px;
    }
    .section-1{
        height: 1033px;
        width: 100%;
        background-color: rgba(17, 17, 17, 1);
    
    }
    .text-title{
        font-size: 2.25rem;
        height: 129px;
        width: 285px;
        
        line-height: 43.2px;
        color: rgba(255, 255, 255, 1);
        margin: 0px;
    }
    .text-description{
        font-size: 1rem;
        line-height: 24px;
        height: 96px;
        width: 274px;

    }
    #btn-join{
        height: 54px;
        width: 169px;
        /* padding: 16px 40px 16px 40px; */
        padding: 0;
        border-radius: 42px;
        line-height: 2px;
        font-size: 1.125rem;
        font-weight: 600;
    }
    #btn-download{
        height: 54px;
        width: 169px;
        /* padding: 16px 40px 16px 40px; */
        padding: 0;
        border-radius: 42px;
        line-height: 2px;
        font-size: 1.125rem;
        font-weight: 600;
    }
    .section-1-content-2{
        height:335px ;
        width:353px ;
        margin-top:51px ;
        margin-left: auto;
        margin-right: auto;
    }
    .image{
        height: 495px;
        width: 353px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 48px;
    }
    
    #red-color{
        height: 30.24px;
        width: 30.24px;
        border-radius: 50%;
        background-color: rgba(230, 83, 60, 1);
        margin: 21.17px 17.39px;
        margin-right: 9.07px;
        
    }

    #three-fifty{
        height: 72.58px;
        width: 155.74px;
        background-color:rgba(48, 48, 48, 0.54);
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9.07px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: -320px;
        margin-left: -18px;
     
    }
  
    .three-fifty-content{
        width: 82px; 
    margin-top: 15.12px;
    margin-bottom: 14.26px;
    }
    #three-fifty-title{
        font-size: 1.133rem;
    font-family: "Inter";
    font-weight: 900;
    line-height: 18.14px;
    color: rgba(250, 250, 249, 1);
    margin-bottom: 5.19px;
    margin-top: 15.12px;
    }
    #three-fifty-text{
        height: 19px;
        width: 82px;
        font-size: 0.757rem;
        font-family: "Inter";
        font-weight: 400;
        line-height: 18.14px;
        color: rgba(239, 237, 232, 0.65);
        margin-top: 5.19px;
        margin-right: 23px;
    }
   
#five-fifty-title{
    height: 31px;
    width: 88px;
    font-size:1.89rem ;
    font-family: "Inter";
    font-weight:900 ;
    line-height:30.24px ;
    color:rgba(255, 255, 255, 1);
    margin-top:12.85px ;
    margin-bottom: 3.02px;
    margin-left: 18.14px;
}
#five-fifty-text{
    height: 16px;
    width: 111px;
    font-size: 0.62rem;
    font-family: "Inter";
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 18.14px;
    margin-bottom: 11.22px;
    margin-top: 3.02px;
}
#five-fifty{
    height: 74.09px;
    width: 145.91px;
    background-color:rgba(255, 255, 255, 0.1);
    border: 0.76px solid rgba(255, 255, 255, 0.1);
    border-radius: 9.07px;
    align-items: center;
    justify-content: center;
    margin-top: -545px;
    margin-right: 19.89px;
}
#club{
    display:none;
  
}

/* Habbit Section-2 *//* Habbit Section-2 *//* Habbit Section-2 *//* Habbit Section-2 *//* Habbit Section-2 */

.habits-section{
    height: 1398px;
    width: 338px;
    margin: 0px auto;
   
}

.habits-text{
    height: 124px;
    width: 318px;
    margin: 0 auto;
    margin-bottom: 58px;
}
.habits-title{
height: 38px;
width: 318px;
color: rgba(255, 255, 255, 1);
font-size:2rem;
font-weight: 900;
font-family: "Inter";
line-height: 38.4px;
align-items: center;
margin:0 10px;
}
.habits-description{
    height: 72px;
    width: 316px;
    color: rgba(255, 255, 255, 0.5);
    font-size:0.875rem;
    font-weight: 400;
    font-family: "Inter";
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-top: 14px;
    
}

.habits-card{
    display: flex;
    flex-direction:column;
   width: 231px;
   height: 274px;
  justify-items: center;
  gap: 60px;
  align-items: center;
  margin: 0 auto;
   
}
.card-content{
    height: 274px;
    width: 331px;
    
    
    
    }

    .card-content img{
       
        margin-left: 68.5px;
        margin-right: 53.5px;
    }

}