

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


    @import url('https://fonts.cdnfonts.com/css/miama');

/*    
   *{
    border: 1px solid red;
   }                                             

body{
    border: 2px dashed green;
} */


body{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        margin: 0px;
        padding: 0px;
        
    }
.section-1{
        height: 715px;
        width: 100%;
        background-image: linear-gradient(180deg, #ded1d124 0%, rgba(119, 119, 119, 0) 100%);
        margin: 0 auto;
    }

.section-1-content-1{
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 0px;
    /* margin-top: 52px; */

}
 #nav-title{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-family:"Inter";
    font-style: italic;
    font-weight: 800;
    line-height: 43.2px;
    margin: 57px auto;
    align-items: center;
    
    
}

#shape{
    font-family: "Miama";
    font-style: italic;
}
.nav-links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-decoration: none;
    width: 465px;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
    border-radius: 39px;
    align-items: center;
   margin-bottom: 0px;
  
    
}

.hamberger{
    width: 24px;
    height: 24px;
    display: none;
}

.hamberger-icons{
    height: 0px;
    width:18px ;
    margin-bottom: 3px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 25%;
}
    

#home{
    text-decoration: none;
    
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-family:"Inter";
    font-size: 1.125rem;
    margin-right: 47px;
    width: 92px;
    height: 38px;
   background-color:  rgba(230, 83, 60, 1);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
  align-items: center;
  text-align: center;
  justify-content: center;

}
#service{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
   
    font-family:"Inter";
    font-weight: 400;
    font-size: 1.125rem;
    margin-right: 47px;
    width: 52px;
    height: 22px;

}
#about{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    
    font-weight: 400;
    font-family:"Inter";
    font-size: 1.125rem;
    margin-right: 47px;
    width: 52px;
    height: 22px;
}
#contact{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    
    font-weight: 400;
    font-family:"Inter";
    font-size: 1.125rem;
    margin-right: 47px;
    width: 52px;
    height: 22px;
}

.section-1-content-2{
    display: flex;
    max-width: 1060px;
    margin: 0px auto;
    margin-top: 0px;
    flex-direction: row;
}



.text{
    height: 440px;
    width: 520px;
    margin: 0px;
}
.text-title{
    font-size: 4.88rem;
    font-family: "Inter";
    font-weight: 900;
    line-height: 93px;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
}

.text-description{
    color:rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
    line-height: 24px;
}
#btn-join{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    gap: 10px;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Inter";
    line-height: 22px;
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
}

#btn-download{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    gap: 10px;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Inter";
    line-height: 22px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(17, 17, 17, 1);
    color: rgba(255, 255, 255, 1);
    ;
}
.image{
    height:580px;
    width: 349px;
    margin-top: -32px;
    margin-left: 167px;
  
}
#red-color{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
    margin: 28px 22px;
    margin-right: 12px;
    
}
#three-fifty{
    height: 96px;
    width: 206px;
    background-color:rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -159px;
    margin-left: -133px;
}

#five-fifty{
    height: 98px;
    width: 193px;
    background-color:rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-top: -455px;
    margin-right: -74px;
}
#three-five{
    display: flex;
    justify-content: space-between;
   
}
.three-fifty-content{
    /* height: 56px;
    width: 108px; */
    margin-top: 20px;
    margin-bottom: 20px;

}
#three-fifty-title{
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 900;
    line-height: 12px;
    color: rgba(250, 250, 249, 1);
    margin-bottom: 8px;
    margin-top: 20px;

}
    #three-fifty-text{
        height: 24px;
        width: 108px;
        font-size: 1rem;
        font-family: "Inter";
        font-weight: 400;
        line-height: 24px;
        color: rgba(239, 237, 232, 0.65);
        margin-top: 15px;
        margin-right: 23px;
    }
#five-fifty-title{
    height: 40px;
    width: 116px;
    font-size:2.5rem ;
    font-family: "Inter";
    font-weight:900 ;
    line-height:40px ;
    color:rgba(255, 255, 255, 1);
    margin-top:17px ;
    margin-bottom: 5px;
    margin-left: 24px;
}
#five-fifty-text{
    height: 20px;
    width: 146px;
    font-size: 0.82rem;
    font-family: "Inter";
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 24px;
    margin-bottom: 16px;
    margin-top: 5px;
}

/* Special Section *//* Special Section *//* Special Section *//* Special Section *//* Special Section *//* Special Section */

.special-section{
    height: 640px;
    width: 1060px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 15px;
    margin: auto;
    padding-top: 20px;
    margin-top: 0px;
}

.special-title{
    color: rgba(255, 255, 255, 1);
    font-size:3rem;
    font-weight: 900;
    font-family: "Inter";
    text-align: center;
    margin: 0px;

}
.special-description{
    width: 671px;
    color: rgba(255, 255, 255, 0.5);
    font-size:1rem;
    font-weight: 400;
    font-family: "Inter";
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    
}
.special-points-part{
    width: 1000px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.special-points img{
    height: 265px;
    width: 295px;
    margin-left: 15px;
    border: 10px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 20%;
}
.special-point-title{
    height: 22px;
    font-size:1.125rem ;
    font-weight:600 ;
    font-family:"Inter";
    line-height: 21.6px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3px;
}


.special-point-description{
    height: 36px;
    font-size:0.875rem ;
    font-weight:400 ;
    font-family:"Inter";
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
    text-align: center;
    margin-top: 6px;
    opacity: 0.7;
}


/* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 *//* Section-2 */


.habits-section{
    height: 452px;
    width: 1044px;
    margin: 100px auto;
   
}
.habits-text{
    height: 120px;
    width: 671px;
    margin: 0 auto;
    margin-bottom: 58px;
}
.habits-title{
height: 58px;
width: 476px;
color: rgba(255, 255, 255, 1);
font-size:3rem;
font-weight: 900;
font-family: "Inter";
line-height: 57.6px;
align-items: center;
margin:0 97.5px;
}
.habits-description{
    height: 48px;
    width: 671px;
    color: rgba(255, 255, 255, 0.5);
    font-size:0.88rem;
    font-weight: 400;
    font-family: "Inter";
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-top: 14px;
    opacity: 0.8;
    
}
.habits-card{
    display: flex;
    flex-direction: row;
   width: 231px;
   height: 274px;
  justify-items: center;
  gap: 30px;
  align-items: center;
   
}

.card-content{
height: 274px;
width: 1044px;


}
.card-content img{
height: 180px;
width: 180px;
border-radius: 100px;
color: rgba(255, 255, 255, 1);
border: 4px solid rgba(255, 255, 255, 0.1);
margin-left: 25.5px;
margin-right: 25.5px;

}
.card-title{
height: 22px;
/* width: 72px; */
font-size:1.125rem ;
font-weight:600 ;
font-family:"Inter";
line-height: 21.6px;
color: rgba(255, 255, 255, 1);
text-align: center;
margin-top: 15px;
margin-bottom: 3px;
}
.card-description{
height: 36px;
/* width: 231px; */
font-size:0.875rem ;
font-weight:400 ;
font-family:"Inter";
line-height: 18px;
color: rgba(255, 255, 255, 0.5);
align-items: center;
text-align: center;
margin-top: 6px;

}

/* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 */

.running-section{
    height:371px ;
    width: 1060px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    gap: 165px;
    
}

.running-text{
height: 290px;
width: 443px;
margin: 40px 0px;
margin-left: 54px;

}
.running-title{
height: 116px;
width: 443px;
font-family: "Inter";
font-weight: 900;
font-size: 3rem;
line-height: 57.6px;
color: rgba(255, 255, 255, 1);
margin-top: 0px;
margin-bottom: 14px;

}
.running-description{
    height: 72px;
    width: 443px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}
#running-join-btn{
height: 54px;
width: 224px;
border-radius: 42px;
color: rgba(255, 255, 255, 1);
font-size: 1.125rem;
font-family: "Inter";
font-weight: 600;
line-height: 22px;
background-color: rgba(230, 83, 60, 1);



}

.running-image-1 img {
    height: 312px;
    width: 336px;
    border-radius: 18px;
    margin-top: 30px;
    /* margin-bottom: 29px; */
    margin-right: 34px; 
   
   
}
.running-image-2{
    height: 170px;
    width: 287px;
    margin-top: 31px;
    margin-bottom: 35px;
    margin-left: 33px;
    border-radius: 18px;
    display: none;
}
/* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 */

.bmi-cal{
    height: 120px;
    width: 671px;
    margin: 88px auto;
}

.bmi-cal-title{
height: 58px;
width: 353px;
font-family: "Inter";
font-size: 3rem;
font-weight: 900;
line-height: 57.6px;
color: rgba(255, 255, 255, 1);
margin-bottom: 14px;
}
.bmi-cal-description{
    height: 48px;
width: 671px;
font-family: "Inter";
font-size: 0.875rem;
font-weight: 400;
line-height: 24px;
color:rgba(255, 255, 255, 0.5);
}

/* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 */

.Bmi-calculator{
    height: 487px;
    width: 100%;
    background-color: rgba(34, 34, 34, 1);
    margin-bottom: 88px;
}
.Bmi-calculator-content{
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.Bmi-chart-title{
    height: 34px;
    width: 443px;
    font-family: "Inter";
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 33.6px;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 52px;
    margin-top: 52px;
}
.table-box{
    height: 43.2px;
    width: 155px;
    border:1px solid rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    align-content: center;
  
 
}
.Bmi-chart-table{
    height: 216px;
    width: 310px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 52px;
   

    
}
.table-heading{
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 19.2px;
    
}
.table-data{
    font-size: 0.875rem;
    font-family: "Inter";
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 16.8px;
}

.Bmi-info{
    height: 386px;
    width: 557px;
   
}

.Bmi-info-title{
    height: 34px;
    width: 443px;
    font-family: "Inter";
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 33.6px;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 14px;
    margin-top: 52px;
  
}
.Bmi-info-description{
    height: 48px;
    width: 567px;
    font-family: "Inter";
    font-size: 0.875rem;
    font-weight: 00;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.Bmi-info-inputs{
    height: 168px;
    width: 177px;
}
.Bmi-info-input-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;

}


.input-1{
    height: 26px;
    width: 210.5px;
    color:rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
    padding: 12px 40px 12px 20px;
    align-content: center;
}

.input-11{
    height: 26px;
    width: 210.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.Bmi-info-input-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 492px;
    color:rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
    padding: 12px 40px 12px 20px;
    align-content: center;
    margin-top: 12px;
}
.info-btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    height: 54px;
    width: 224px;
    border-radius: 274px;
    font-size: 1.125rem;
    font-family: "Inter";
    font-weight: 600;
    line-height: 22px;
    margin-top: 34px;
    text-align: center;
   align-content: center;
}


/* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 */
.meet-team-section{
/* height: 782px; */
    width: 1060px;

margin: 88px auto;
}
.team-text{

}
.team-title{
    font-size: 3rem;
    font-family: "Inter";
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.team-description{
    font-size: 0.875rem;
    font-family: "Inter";
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 14px;
    opacity: 0.8;
    margin-bottom: 58px;
}
    .pictures-2{
        display: none;
    }

    .pictures-1{
        height: 630px;
        width: 1060px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius:18px ;
    }
.pic-title{
    font-size: 1.25rem;
    font-weight: 900;
    font-family: "Inter";
    color: rgba(255, 255, 255, 1);
    margin-left: 10px;
   
}
.pic-des{
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter";
    color: rgba(255, 255, 255, 1);
    margin-left: 10px;
}
.pics{
    width: 326px;
    height: 272px;
    border-radius: 18px;
    align-content: end;
    margin-top: 20px;
    margin-left: 15px;
   
}
.pic-1{
    background-image: url(./images/Dtrainer1.png);
    background-color: rgba(0, 0, 0, 0.2);
   
}
.pic-2{
    background-image: url(./images/Dtrainer2.jpg);
    background-color: rgba(0, 0, 0, 0.2);
}
.pic-3{
    background-image: url(./images/Dtrainer3.jpg);
    background-color: rgba(0, 0, 0, 0.2);
}
.pic-4{
    background-image: url(./images/Dtrainer4.jpg);
    background-color: rgba(0, 0, 0, 0.2);
}
.pic-5{
    background-image: url(./images/Dtrainer5.jpg);
    background-color: rgba(0, 0, 0, 0.2);
}
.pic-6{
    background-image: url(./images/Dtrainer6.jpg);
    background-color: rgba(0, 0, 0, 0.2);
}

/* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 */

.fitness-section{
    height: 490px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: azure; */
    
  
}
.fitness-content{
    height: 249px;
    width: 1060px;
    margin: auto;
    margin-top:66px;
    padding-top: 66px;
    display: flex;
    gap: 102px;
    border-bottom:3px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 79px;

}
.fitness-text{
    height: 176px;
    width: 443px;
 

}
.fitness-started{
    height: 249px;
    width: 514px;
    display: flex;
    gap: 100px;
}
.fitness-title{
    font-size: 4.375rem;
    color: rgba(230, 83, 60, 1);
    font-weight: 800;
    font-family: "Inter";
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}
.fitness-description{
    width: 420px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-family: "Inter";
    margin-top: 20px;
    opacity: 0.8;
   
}
.fitness-started-title{
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-family: "Inter";
    margin-top: 0px;
    
  
}
.fitness-started-des{
    font-size: 1.4rem;
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-family: "Inter";
    line-height: 27.6px;
    opacity: 0.8;
    margin-top: px;
}

.ending{
    color:rgba(255, 255, 255, 0.5);
 
    margin-top: 36px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Inter";
    font-weight: 400;
    opacity: 0.8;

}



/* Media Query *//* Media Query *//* Media Query *//* Media Query *//* Media Query *//* Media Query *//* Media Query */

@media screen and (max-width:576px) {

   /* *{
    border: 1px solid red;
   }                                             

body{
    border: 2px dashed green;
} */

    
    .nav-links{
        display:none;
    }
    .hamberger{
        width: 24px;
        height: 24px;
        display:flex;
        flex-direction: column;
    }
   

    .section-1-content-1{
        height: 43px;
        max-width: 353px;
        /* margin-top: 52px; */
        padding-top: 52px;
      
        padding-left: 15px;
        padding-right: 10px;
    }
    .section-1-content-2{
        display: flex;
        flex-direction: column;
      
    }
    .text{
        height: 353px;
        max-width: 317px;
       
        
    }
    .section-1{
        height: 1033px;
        width: 100%;
        /* background-color: rgba(17, 17, 17, 1); */
    
    }
    .text-title{
        font-size: 2.25rem;
        height: 129px;
        width: 285px;
        
        line-height: 43.2px;
        color: rgba(255, 255, 255, 1);
        margin: 0px;
        padding-left: 10px;
    }
    .text-description{
        font-size: 1rem;
        line-height: 24px;
        height: 96px;
        width: 274px;
        padding-left: 10px;

    } 
    #btn-join{
        height: 54px;
        max-width: 150px;
        padding: 0;
        border-radius: 42px;
        line-height: 2px;
        font-size: 1.125rem;
        font-weight: 600;
    }
    #btn-download{
        height: 54px;
        max-width: 150px;
        padding: 0;
        border-radius: 42px;
        line-height: 2px;
        font-size: 1.125rem;
        font-weight: 600;
    }
    .section-1-content-2{
        height:335px ;
        max-width:320px ;
        margin-top:51px ;
        margin-left: auto;
        margin-right: auto;
       
       
    }
    .image{
        max-height: 495px;
        max-width: 318px;
        margin: 0px auto;
        margin-top: 48px;
        
       
    }
    .image img{
        max-width: 315px;
        margin: auto;
       
    } 
    #red-color{
        height: 30.24px;
        width: 30.24px;
        border-radius: 50%;
        background-color: rgba(230, 83, 60, 1);
        margin: 21.17px 17.39px;
        margin-right: 9.07px;
        
    }

    #three-fifty{
        height: 72.58px;
        max-width: 145.74px;
        background-color:rgba(48, 48, 48, 0.54);
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9.07px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: -300px;
        margin-left: 15px;
       
    }
  
    .three-fifty-content{
        width: 82px; 
    margin-top: 15.12px;
    margin-bottom: 14.26px;
    
    }
    #three-fifty-title{
        font-size: 1.133rem;
    font-family: "Inter";
    font-weight: 900;
    line-height: 18.14px;
    color: rgba(250, 250, 249, 1);
    margin-bottom: 5.19px;
    margin-top: 15.12px;
   
    }
    #three-fifty-text{
        height: 19px;
        width: 82px;
        font-size: 0.757rem;
        font-family: "Inter";
        font-weight: 400;
        line-height: 18.14px;
        color: rgba(239, 237, 232, 0.65);
        margin-top: 5.19px;
        margin-right: 23px;
        
    }
   
#five-fifty-title{
    height: 31px;
    width: 88px;
    font-size:1.89rem ;
    font-family: "Inter";
    font-weight:900 ;
    line-height:30.24px ;
    color:rgba(255, 255, 255, 1);
    margin-top:12.85px ;
    margin-bottom: 3.02px;
    margin-left: 18.14px;
}
#five-fifty-text{
    height: 16px;
    width: 111px;
    font-size: 0.62rem;
    font-family: "Inter";
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 18.14px;
    margin-bottom: 11.22px;
    margin-top: 3.02px;
}
#five-fifty{
    height: 74.09px;
    max-width: 135.91px;
    background-color:rgba(255, 255, 255, 0.1);
    border: 0.76px solid rgba(255, 255, 255, 0.1);
    border-radius: 9.07px;
    align-items: center;
    justify-content: center;
    margin-top: -495px;
    margin-right: 16px;
}
#club{
    display:none;
  
}

/* Special Section *//* Special Section *//* Special Section *//* Special Section *//* Special Section *//* Special Section */

.special-section{
    height: 1480px;
    width: 316px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
}

.special-title{
    color: rgba(255, 255, 255, 1);
    font-size:2.5rem;
    font-weight: 900;
    font-family: "Inter";
    text-align: center;
    margin: 0px;

}
.special-description{
    width: 300px;
    color: rgba(255, 255, 255, 0.5);
    font-size:.8rem;
    font-weight: 400;
    font-family: "Inter";
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    
}
.special-points-part{
    width: 314px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.special-points img{
    height: 245px;
    width: 275px;
    margin-left:10px;   
    border: 10px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 20%;
}
.special-point-title{
    height: 22px;
    font-size:1.125rem ;
    font-weight:600 ;
    font-family:"Inter";
    line-height: 21.6px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3px;
    }


.special-point-description{
    height: 36px;
    font-size:0.7rem ;
    font-weight:400 ;
    font-family:"Inter";
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 70px;
}



/* Habit Section-2 *//* Habit Section-2 *//* Habit Section-2 *//* Habit Section-2 *//* Habit Section-2 */

.habits-section{
    height: 1398px;
    max-width: 319px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.habits-text{
    height: 124px;
    max-width: 318px;
    margin: 0 auto;
    margin-bottom: 58px;
}
.habits-title{
height: 38px;
width: 318px;
color: rgba(255, 255, 255, 1);
font-size:2rem;
font-weight: 900;
font-family: "Inter";
line-height: 38.4px;
align-items: center;
margin:0px;
}
.habits-description{
    height: 72px;
    width: 316px;
    color: rgba(255, 255, 255, 0.5);
    font-size:0.875rem;
    font-weight: 400;
    font-family: "Inter";
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-top: 14px;
    
}

.habits-card{
    display: flex;
    flex-direction:column;
   width: 231px;
   height: 274px;
  justify-items: center;
  gap: 60px;
  align-items: center;
  margin: 0 auto;
   
}
.card-content{
    height: 274px;
    max-width: 319px;
    
    
    
    }

    .card-content img{
       
        margin-left: 68.5px;
        margin-right: 53.5px;
    }

    /* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 *//* Section-3 */

    

    .running-section{
        height:531px ;
        width: 315px;
        background-color: rgba(34, 34, 34, 1);
        border-radius: 18px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 86px;
    
    }
    
    .running-text{
        height: 264px;
        width: 287px;
        margin: 0px auto;
        margin-top: 31px;
       
    
    
    }
    .running-title{
        height: 76px;
        width: 287px;
        font-family: "Inter";
        font-weight: 900;
        font-size: 2rem;
        line-height: 38.4px;
        color: rgba(255, 255, 255, 1);
        margin-top: 0px;
        margin-bottom: 14px;
  }
    .running-description{
        height: 96px;
        width: 287px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 24px;

    }
    #running-join-btn{
    height: 54px;
    width: 287px;
    border-radius: 42px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.125rem;
    font-family: "Inter";
    font-weight: 600;
    line-height: 22px;
    background-color: rgba(230, 83, 60, 1);
    
    
    
    }
    .running-image-1{
        display: none;
    }
    .running-image-2{
        display: flex;
        
    }
    .running-image-2{
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .running-image-2 img{
        
        height: 170px;
        width: 287px;
        margin: 0px auto;
        margin-top: 0px;
        margin-bottom: 35px;
       
        border-radius: 18px;
      
    }
 
/* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 *//* Section-4 p1 */

.bmi-cal{
    height: 124px;
    max-width: 310px;
    margin: 31px auto;
}

.bmi-cal-title{
height: 38px;
max-width: 310px;
font-family: "Inter";
font-size: 2rem;
font-weight: 900;
line-height: 38.4px;
color: rgba(255, 255, 255, 1);
margin-bottom: 14px;
}
.bmi-cal-description{
    height: 72px;
max-width: 310px;
font-family: "Inter";
font-size: 0.875rem;
font-weight: 400;
line-height: 24px;
color:rgba(255, 255, 255, 0.5);
}


/* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 *//* Section-4 p2 */

.Bmi-calculator{
    height: 772px;
    width: 100%;
    background-color: none;
    margin-bottom: 66px;
}
.Bmi-calculator-content{
    max-width: 316px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.Bmi-chart-title{
    height: 19px;
    width: 167px;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 900;
    line-height: 19.2px;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 5px;
    margin-top: 34px;
}
.table-box{
    height: 43.2px;
    width: 145px;
    border:1px solid rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    align-content: center;
  
 
}
.Bmi-chart-table{
    height: 216px;
    width: 310px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 23px;
   

    
}
.table-heading{
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 19.2px;
    
}
.table-data{
    font-size: 0.875rem;
    font-family: "Inter";
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 16.8px;
}

.Bmi-info{
    height: 396px;
    width: 314px;
   
}

.Bmi-info-title{
    height: 19px;
    width: 151px;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 900;
    line-height: 19.2px;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 14px;
    margin-top: 42px;
  
}
.Bmi-info-description{
    height: 72px;
    width: 312px;
    font-family: "Inter";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}

.Bmi-info-inputs{
    height: 168px;
    width: 312px;
}
.Bmi-info-input-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4px;

}


.input-1{
    height: 28px;
    width: 90px;
    color:rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
    padding: 12px 40px 12px 20px;
    align-content: center;
}

.input-11{
    height: 28px;
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.Bmi-info-input-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    width: 250px;
    color:rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
    /* padding: 12px 40px 12px 20px; */
    align-content: center;
    margin-top: 8px;
}
.info-btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    height: 54px;
    width: 224px;
    border-radius: 42px;
    font-size: 1.125rem;
    font-family: "Inter";
    font-weight: 600;
    line-height: 22px;
    margin-top: 34px;
    text-align: center;
   align-content: center;
}


/* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 *//* Section-5 */
.meet-team-section{
    /* height: 782px; */
        width: 319px;
    margin: 88px auto;
    margin-bottom: 50px;
    }
    .team-text{
    
    }
    .team-title{
        font-size: 2rem;
        font-family: "Inter";
        font-weight: 900;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .team-description{
        font-size: 0.875rem;
        font-family: "Inter";
        font-weight: 400;
        color:rgba(255, 255, 255, 0.5);
        text-align: center;
        margin-top: 14px;
        opacity: 0.8;
        margin-bottom: 58px;
    }
    .pictures-1{
        display: none;
    }
        .pictures-2{
            height: 1190px;
            width: 319px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 0px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius:18px ;
        }
    .pic-title{
        font-size: 1.25rem;
        font-weight: 900;
        font-family: "Inter";
        color: rgba(255, 255, 255, 1);
        margin-left: 10px;
       
    }
    .pic-des{
        font-size: 0.875rem;
        font-weight: 400;
        font-family: "Inter";
        color: rgba(255, 255, 255, 1);
        margin-left: 10px;
    }
    .pics{
        width: 290px;
        height: 257px;
        border-radius: 18px;
        align-content: end;
        margin-top: 20px;
        margin-left: 14px;
       
    }
  
    .pic-2{
        background-color: rgba(0, 0, 0, 0.2);
    }
    .pic-3{
        background-color: rgba(0, 0, 0, 0.2);
    }
   
    .pic-5{
        background-color: rgba(0, 0, 0, 0.2);
    }
    .pic-6{
        background-color: rgba(0, 0, 0, 0.2);
    }

    
/* fitness-section *//* fitness-section *//* fitness-section *//* fitness-section *//* fitness-section *//* fitness-section */


/* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 *//* Section-6 */

.fitness-section{
    height: 966px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: azure; */
    
  
}
.fitness-content{
    height: 728px;
    width: 314px;
    /* margin: auto; */
    margin-top:0px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    border-bottom:3px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 99px;
   
}
.fitness-text{
    height: 176px;
    max-width: 280px;
    margin-top: 0px;
    padding: 10px;
 

}
.fitness-started{
    height: 249px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}
.fitness-title{
    max-width: 300px;
    font-size: 4.2rem;
    color: rgba(230, 83, 60, 1);
    font-weight: 800;
    font-family: "Inter";
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}
.fitness-description{
    width: 290px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-family: "Inter";
    margin-top: 10px;
    opacity: 0.8;
   
}
.fitness-started-title{
    max-width: 280px;
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-family: "Inter";
    margin-top: 0px;
    
  
}
.fitness-started-des{
    max-width: 280px;
    font-size: 1.2rem;
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-family: "Inter";
    line-height: 27.6px;
    opacity: 0.7;
    
}

.ending{
    
    color:rgba(255, 255, 255, 0.5);
    max-width: 315px;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 400;
    opacity: 0.7;
   

}




}

